@page
@model Proiect_Nitu_Andreea.Pages.Zboruri.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit the details about the flight</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Zbor.ID" />
            <div class="form-group">
                <label asp-for="Zbor.Airline" class="control-label"></label>
                <input asp-for="Zbor.Airline" class="form-control" />
                <span asp-validation-for="Zbor.Airline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zbor.From" class="control-label"></label>
                <input asp-for="Zbor.From" class="form-control" />
                <span asp-validation-for="Zbor.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zbor.To" class="control-label"></label>
                <input asp-for="Zbor.To" class="form-control" />
                <span asp-validation-for="Zbor.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zbor.Date" class="control-label"></label>
                <input asp-for="Zbor.Date" class="form-control" />
                <span asp-validation-for="Zbor.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zbor.Time" class="control-label"></label>
                <input asp-for="Zbor.Time" class="form-control" />
                <span asp-validation-for="Zbor.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zbor.Price" class="control-label"></label>
                <input asp-for="Zbor.Price" class="form-control" />
                <span asp-validation-for="Zbor.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to database</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
