@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my project</h1>
    <p>To view details about the flights available click <a href="Zboruri/Index">here</a>.</p>
    <br />
    <img src="~/images/1.png" alt="img" width="400" height="180" />
</div>
